/* Adicione estilos CSS conforme necessário para melhorar a aparência do formulário */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #88abc2;
margin: 0;
padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(IMG4.jpg);
    background-size: cover; /* Isso faz com que a imagem cubra todo o fundo */
            background-repeat: no-repeat; /* Impede que a imagem se repita */
        }



h1 {
    color: #0d0502;
    font-size: 60px;
}

header h1{
width: -20px;
text-align: center;
color: #d4d2d4;
}




header img{

width: 150px;
max-width: -2000px;
}


form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00005d;
}

.container{

border-radius: 10px;
text-align: center;
max-width: 400px;
padding: 50px;
background-color: #fff;
box-shadow: 0px  0px  10px   rgba(0, 0, 0, 0.2);
width: 50%; /* Defina a largura desejada para o seu contêiner */
margin-left: auto;
margin-right: auto;
text-align: center; /* Centralize o texto dentro do contêiner */

}
 .detalhes-pedido{

color: #fff;
 }
.title{


    color: #fff;
}

.botao{
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}



.botao:hover{
    background-color: #FF0000;

}
